global
    log /dev/log  local0 warning
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats



defaults
  log global
  option  httplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

frontend kube-apiserver
  bind *:6443
  mode tcp
  option tcplog
  default_backend kube-apiserver

backend kube-apiserver
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    server kube-apiserver-master-a k8s-master-a.ru-central1.internal:6443 check
    server kube-apiserver-master-b k8s-master-b.ru-central1.internal:6443 check
    server kube-apiserver-master-c k8s-master-c.ru-central1.internal:6443 check

frontend ingress-front
bind *:80
mode tcp
option tcplog
default_backend kube-ingress-http


backend kube-ingress-http
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    server kube-worker-a k8s-worker-a.ru-central1.internal:32538 check
    server kube-worker-b k8s-worker-b.ru-central1.internal:32538 check

listen stats 
    bind :9000                          
    mode http
    stats auth haproxy-stats:password   
    stats enable                       
    stats hide-version                  
    stats realm HAProxy\ Statistics    
    stats uri /server-status
